<div class="top-bar">
    <div class="header__left">
        <div class="logo">
            <img src="./assets/img/logo.png" alt="Grocerymart" />
        </div>
        <nav class="navbar">
            <ul>
                <li>
                    <a class="navbar__link" href="#!">Departments</a>
                </li>
                <li>
                    <a class="navbar__link" href="#!">Grocery</a>
                </li>
                <li>
                    <a class="navbar__link" href="#!">Beauty</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right"></div>
</div>
