*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: var(--main--bg-color);
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
}

/* COMMON */
a {
    text-decoration: none;
    color: var(--second--color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.2rem; /* 146.667% */
}
