<div class="container">
    <div class="header__inner">
        <div class="header__left">
            <figure>
                <img
                    src="./assets/img/logo/logo.png"
                    alt="main logo"
                    class="logo"
                />
            </figure>

            <nav class="navbar">
                <ul>
                    <li>
                        <a href="#!"
                            >Departments
                            <img
                                src="./assets/img/icon/arrowdown.svg"
                                alt="arrowdown"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="#!"
                            >Grocery
                            <img
                                src="./assets/img/icon/arrowdown.svg"
                                alt="arrowdown"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="#!"
                            >Beauty
                            <img
                                src="./assets/img/icon/arrowdown.svg"
                                alt="arrowdown"
                            />
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__right">
            <div class="icon__group">
                <img
                    src="./assets/img/icon/search.svg"
                    alt="Search items"
                    class="icon__group--icon"
                />
            </div>
            <div class="icon__group">
                <img
                    src="./assets/img/icon/heart.svg"
                    alt="Search items"
                    class="icon__group--icon"
                />
                <span class="icon__group--title">03</span>
                <div class="divide"></div>
                <img
                    src="./assets/img/icon/cart.svg"
                    alt="Search items"
                    class="icon__group--icon"
                />
                <span class="icon__group--title">$65.42</span>
            </div>
            <div class="avatar">
                <img src="./assets/img/avatar.png" alt="" />
            </div>
        </div>
    </div>
</div>
