.header {
    background-color: var(--header--bg-color);
}

.header__inner {
    position: relative;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-pc .logo {
    width: 190px;
    height: 32px;
}

.header-pc .logo img {
    width: 100%;
}

.header__left {
    display: flex;
    align-items: center;
    width: 70%;
}

.navbar {
    margin-left: 144px;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar__item {
    cursor: pointer;
}

.navbar__item:hover .dropdown__inner {
    display: block;
}

.navbar img {
    margin-left: 6px;
}

/* HEADER RIGHT */
.header__right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.header__right .icon__group {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px;
    border-radius: 8px;
    background: var(--icon--bg);
    box-shadow: var(--icon--box-shadow);
}

.icon__group--title {
    color: var(--second--color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    margin-left: 10px;
}

.icon__group a {
    display: flex;
    align-items: center;
}

.icon {
    filter: var(--icon--color);
}

.divide {
    width: 1px;
    height: 20px;
    background: var(--divide--color);
    margin: 0 10px;
}

.header__right .avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: var(--icon--bg);
    box-shadow: var(--avatar--box-shadow);
}

.header__right .avatar img {
    width: 100%;
}

/* MENU MOBILE */
.header-mobile {
    padding: 16px;
}

.mobile-menu {
    width: 24px;
    height: 24px;
    padding: 4px 6px;
}

.mobile-menu img {
    width: 100%;
}

.header-mobile .logo {
    width: 151px;
    height: 25px;
}

.header-mobile .logo img {
    width: 100%;
}

.header-mobile .avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: var(--icon--bg);
    box-shadow: var(--avatar--box-shadow);
}

.header-mobile .avatar img {
    width: 100%;
}

/* DROPDOWN */
.dropdown {
    position: absolute;
    padding-top: 80px;
    left: 0;
}
.dropdown__inner {
    display: none;
    padding: 30px;
    border-radius: 20px;
    background: var(--dropdown-bg-menu-pc);
    box-shadow: var(--dropdown-box-shadow-menu-pc);
}
